:root {
  --main-border-color: #e0e6e8;
}

#slnLitePickProject {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index: 9500;
}

#slnLitePickProjectDlg {
	background-color: white;
	height: auto;
	z-index: 9002;
	padding: 20px;
	border: 1px solid var(--main-border-color);
	border-radius: 4px;
}

#slnLitePickProjectDlg h1 {
	font-size: 20px;
	margin: 0px 0px 20px 0px;
}

#slnLitePickProjectDlg > span {
	font-style:italic;
}

#slnLiteProjectList {
	margin-top: 16px;
	max-height: 300px;
	display: block;
	overflow:auto;
}

#slnLiteNewProject {
	background-color: #14aaf5;
    border-color: #14aaf5;
	box-shadow: 0px 0px 0px 1px #14aaf5;
	-moz-box-shadow: 0px 0px 0px 1px #14aaf5;
	-webkit-box-shadow: 0px 0px 0px 1px #14aaf5;
	color: white;	
}

#slnLiteNewProject:hover {
	background-color: #008ce3;
}

.slnlite-project {
	border-bottom: 1px solid var(--main-border-color);
	padding: 5px 8px;
    font-size: 16px !important;
	cursor: pointer;
	color: DarkSlateGray;
}

.slnlite-project:hover {
	color: black;
	background-color: #f6f8f9;
}

.slnlite-project-title {
	
}

.slnlite-project-icon {
	width: 24px;
}


.dirtyBit {
	font-weight: bold;
	font-size: large;
}

.dirtyBit > a {
	color: white !important;
    background-color: transparent !important;
}

.dirtyBit > a::after {
  content: "*";
}

#manualAutoBtn::before {
	margin-right: 5px;
}