body {
	color: #ffffff;
	background-color: #ffffff;
	margin: 0px;
	overflow: hidden;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 5px;
}

a {
	color: #ffffff;
}

#notSupported {
  width: 50%;
  margin: auto;
  border: 2px red solid;
  margin-top: 20px;
  padding: 10px;
}

#container {
    height: 800px;
    width: 100%;
}