select {
	/*Auto-width conflicts with the resizable elements.
	width: auto !important;*/
	font-weight:500;
	color:#555555;
}

select option {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

html, body {
    overflow-x:hidden;
}
body #info{
	margin: 10px;
	width: inherit; /* without this, width is 100%, which exceeds parent width and makes scrolling */
}
#d{
	resize: none;
}
#blockWS {
	/*height: 650px!important;*/
    width: calc(100% - 10px) !important;
    margin-bottom: 5px;
}
#id_title, #id_tags {
	padding: 4px 6px!important;
	/*margin-bottom: 10px!important;*/
	margin-bottom: 10px;
    font-size: 14px!important;
}
#profileTab{
	float: right;
	vertical-align: center;
	margin-right: 10px;
}
#profileTab a{
	color:#999999;
}
#profileTab a:hover{
	color:#FFFFFF;
	text-decoration:none;
}


#g{
	max-height:162px;
	max-width: 442px;
}
#id_tags {
	margin-bottom:5px;
}
body{
	min-height:250px!important;
    min-width: 600px!important;
    height:auto;
    overflow-y:visible;
    overflow-x:scroll;
    padding: 0px !important;
}

#blockWS.span12{
	margin-top: 10px;
	height:auto;
	overflow-y:visible!important;
	min-height:650px;
}

.span12{
	overflow: visible!important;
	height:auto!important;
}

textarea {
	width:95%;
	max-width:95%!important;
}

.antiBounce{
	overflow-x:hidden;
	height:100%;
	width: 100%;
}

#blanket {
	background-color: #111;
	opacity: 0.65;
	filter: alpha(opacity=65);
	position: absolute;
	z-index: 9001;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

#popUpDiv, #selectProjectTypeDiv {
	position: fixed !important;
	top: calc(50% - 125px);
	left: calc(50% - 150px);
	background-color: #eeeeee;
	width: 300px;
	height: 250px;
	z-index: 9002;
	padding: 20px;
}

#popUpSquare {
	position: fixed;
	top: 200px;
	left: 50%;
	margin-left:-150px;
	background-color:black;
	width: 300px;
	height: 125px;
	z-index: 9002;
	padding: 4px;
}

#turtle {
	position: relative;
	top:0;
	left:0;
}

#pwidget
{
  background-color:black;
  width:256px;
  padding:2px;
  -moz-border-radius:3px;
  border-radius:3px;
  text-align:left;
  border:1px solid black;
  position: fixed;
  top: 246px;
  left: 50%;
  margin-left:-128px;
}
#progressbar
{
  width:254px;
  padding:1px;
  background-color:white;
  border:1px solid black;
  height:14px;
}
#indicator
{
  width:0px;
  background-image:url("../images/orange_square.png");
  height:10px;
  margin:0;
}
#progressnum
{
  text-align:center;
  width:250px;
}
#popUpBox {
	position: fixed !important;
	top: calc(50% - 125px);
	left: calc(50% - 325px);
	background-color: #eeeeee;
	width: auto;
	height: 250px;
	z-index: 9002;
	padding: 20px;
}
.selectPos {
	float: right;
	margin: auto;
	margin-top: 0%;
	display: inline-block;
	vertical-align: top;
}
.sounds:hover {
	cursor: pointer;
	color: blue;
}

.runBtnGood {
	background-color: #2C7020;	
}

.runBtnGood:hover {
	background-color: #59E140;	
}

.runBtnBad {
	background-color: #590000;	
}

.runBtnBad:hover {
	background-color: #B80000;	
}

a>input[type="button"], a>button{
	color:#333;
	text-decoration:none;
}

ul{
	padding:0px;
}

.container-fluid{
	width:100%;
}

.span12{
	margin-left:5px !important;
}

/* Windows uses a different scroll bar than the one Mac OS uses (not sure about Linux distros),
 * the width thus of the ui-handle is thus extended to 20px so that the scrollbar does not mask the
 * resizable handle, and so the resizable does not mask the blocks
 */
.ui-resizable-e {
    width: 6px;
}

#speedSlider {
	background-color: #F4F4F4;
	padding: 2px 3px 3px 0px;
	border-radius: 5px;
	border: 1px solid forestgreen;
    z-index: 1001;
    display: inline-block;
    position: absolute;
    bottom: 1px;
    right: 8px;
}

#speedSlider > * {
	vertical-align: middle;
	margin-left: 5px;
}

#slider {
	width: 180px;
	height: 15px;
	display: inline;
}

#speedSliderButton {
	border-radius: 4px;
}

#speedSliderValue {
	border: 1px solid grey;
	padding: 0px 5px;
}
