html, body {
	height: calc(100% - 80px);
	margin: 0;
}

.content {
	min-height: 100%;
	margin-bottom: 80px;
}

.content:after {
	display: block;
	content: "";
}

.content .openid,
.content .form-inline {
	margin-left: 10px;
}

footer {
	width: 100%;
	height: 80px;
	background-color: #223;
}

#footer-wrapper {
	height: 100%;
	width: 1000px;
	margin-left: calc(50% - 500px);
	position: relative;
}

@media (max-width: 1000px) {
	#footer-wrapper {
		width: 100%;
		margin-left: 0;
	}
}

#footer-about {
	height: 100%;
	float: left;
}

.footer-navigation,
.footer-info {
	color: #999;
	height: 100%;
	float: left;
	font-size: 12px;
	padding: 10px 0;
}

.footer-navigation ul {
	width: 100%;
	height: 100%;
	padding: 18px 0;
}

.footer-navigation ul li {
	display: inline;
	height: 100%;
	color: #999;
	font-size: 20px;
	margin: auto 10px;
}

#footer-links {
	height: 100%;
	float: right;
}

#turtle-logo,
#step-logo,
#media-lab-logo {
	height: 100%;
	width: auto;
	float: left;
}

#turtle-logo img {
	margin-top: 10px;
	height: calc(100% - 20px);
	padding: 0 10px;
}

#step-logo img,
#media-lab-logo img {
	margin-top: 15px;
	height: calc(100% - 30px);
	padding: 0 10px;
}

.footer-info {
	width: 200px;
}

.footer-info p {
	text-align: right;
	padding: 4.5px 20px;
	border-right: 1px solid #999;
}

.footer-navigation ul li a,
.footer-navigation ul li a:visited,
.footer-info p a,
.footer-info p a:visited {
	text-decoration: none;
	color: #999;
}

.footer-navigation ul li a:hover,
.footer-navigation ul li a:active {
	color: #FFF;
}

.footer-info p a:hover,
.footer-info p a:active {
	color: #428bca;
}

