#blanket {
	background-color: #111;
	opacity: 0.65;
	filter: alpha(opacity=65);
	position: fixed;
	z-index: 9001;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100% !important;
}

#popUpDiv, 
#selectProjectTypeDiv {
	position: fixed !important;
	top: calc(50% - 125px);
	left: calc(50% - 150px);
	background-color: #eeeeee;
	width: 300px;
	height: 250px;
	z-index: 9002;
	padding: 20px;
}

#popUpBox {
	position: fixed !important;
	top: calc(50% - 125px);
	left: calc(50% - 325px);
	background-color: #eeeeee;
	width: auto;
	height: 250px;
	z-index: 9002;
	padding: 20px;
}

#popUpBox h3 {
	text-align: center;
}