#all_tags {
	overflow: auto;
	height: 85px;
}

.project-tag {
	display: inline-block;
	padding: 1px 0 1px 5px;
	border: 1px solid black;
	margin: 2px;
	font-weight: bold;
}

.project-tag:hover{
	cursor: pointer;
}

a {
	color: black;
}

a:hover {
	text-decoration: none;
	color: gray;
}

.remove-tag {
	text-indent:0;
	display:inline-block;
	font-family:Arial;
	font-size:8px;
	font-weight:bold;
	font-style:normal;
	line-height:10px;
	height:10px;
	width:10px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
	position: relative;
	top: -8px;
}
/* This button was generated using CSSButtonGenerator.com */