.sbPage, .sbDrawer, .sbBlock, .sbLabel, .sbSocket, .sbAfterSocket, .sbPageHolder, .sbDrawerHolder, .sbPickerOptions {
	color: #fff;
	font-weight: bold;
	text-shadow:
	0.707px 0.707px 0 #000,
	-0.707px -0.707px 0 #000,
	0.707px -0.707px 0 #000,
	-0.707px 0.707px 0 #000,
	1px 0px 0 #000,
	-1px 0px 0 #000,
	0px -1px 0 #000,
	0px 1px 0 #000;
	
	/* NOTE: .sbTrashBin has been removed */
}

.sbPageHolder, .sbPage{
	background-color: #F0EBCE!important;
}

.sbPageTab.goog-tab-selected{
	background-color: #F0EBCE!important;
	z-index: 1;
}

.sbPage, .sbDrawer, .sbPageHolder, .sbDrawerHolder, .sbTrashBin, .sbCopyPasteBar, .sbPickerOptions{
	font-family: Arial;
}

.sbPageHolder {
	border: 1px solid #333;
	top: -1px;
	overflow: auto;
	float:left;
}

.sbDrawerHolder {
	border: 1px solid #333;
	background-color: #999;
}

.sbPage {
	margin: 0px;
	margin-top: 45px;
}

.sbCopyPasteBar {
	top: 5px;
}

.sbDrawer {
	background-color: #999;
}

.sbContext {
	z-index: 101;
}

.sbPicker {
	font-size: 16px;
	border: none;
	border-bottom: 1px solid #e8e8e8;
}	

.sbPicker:hover .sbPickerLabel {
	top: 0px;	
}

#sbAddPageBtn {
	margin-top: 5px;
}

.sbInternalInput{
	font-weight:500;
	color:#333
}

.sbBlockLine>input[type="button"]{
	color:#555555;
	font-weight:900;
	padding: 0px;
	font-family: Courier;
	font-size: 15px;
	line-height: 16px;
	height: 18px;
	width: 18px;
    border-top: 1px solid lightGrey;
    border-right: 1px solid lightGrey;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
	border-radius: 5px;
	-moz-appearance: none;
	-webkit-appearance: none;
}

.sbBlockLine>input[type="button"]:hover {
	border-color: #599bb3;
}

.sbEditableLabel{
	background-color:white!important;
	font-weight:500;
	color:#333
}

.sbBreedNameInput {
	position: absolute;
    z-index: 1;
}

.sbHidden {
	display: none;
}

.sbPanel {
	color: black;
	text-shadow: none;
	font-weight: normal;
	font: menu;
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    height: auto;
    width: auto;
	z-index: 1;
	position: absolute;
	top: 10px;
	left: 10px;
	-moz-box-shadow: 2px 2px 2px #888888;
	-webkit-box-shadow: 2px 2px 2px #888888;
	box-shadow: 2px 2px 2px #888888;
}

.sbPanel select {
	cursor: pointer;
}

#showTraitBtn {
	border: none;
	font-size: 14px;
	width: 100%;
	height: auto;
	text-align: left;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 1px solid black;
	padding: 1px 4px;
}

#showTraitBtn.wgt-editor-toggled {
	border-bottom-width: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

/* get rid of the blue outline on Chrome since it looks very weird */
#showTraitBtn:focus {
    outline: none; 
}

#customTraitsHolder {
	display: inline-block;
    vertical-align: top;
    height: auto;
    width: auto;
}

.sbTraitTable {
	font-weight: normal;
	border-collapse: collapse;
	background-color: #FFF;
	color: #000;
}

#builtinTraitTable {
	margin-right: 5px;
	display: inline-block;
}

#builtinTraitTable.sbHidden {
	display: none;
}

#addTraitBtn {
	margin: 5px 0px;
}

.sbTraitTable tr {
	border: 1px solid #CCC;
}

.sbTraitTable td {
	border: inherit;
	padding: 5px;
	cursor: default;
}

.sbTraitTable th {
	background-color: #EEE;
	color: #222;
	border: 1px solid #CCC;
	padding: 5px;
	cursor: default;
}

.sbEmptyRow {
    font-style: italic;
    color: grey;
	text-align: center;
}

.sbTraitTable optgroup {
	font-weight: bolder;
	font-size: 16px;
}

/*
.sbTraitTable tbody {
	cursor: pointer;
}

.sbTraitTable tbody tr:hover {
	color: #E65F25;
	border: 1px solid #E65F25;
	border-style: double;
	background-color:yellow;
}*/

#traitViewHolder {
	overflow: hidden;
	box-sizing: content-box;
	height: 0px;
	width: 0px;
}

#collapsibleTraitView {
	padding: 5px;
	background: #F6F6F6;
	border: 1px solid black;
}
/*
.sbPanel input[type="text"], .sbPanel select {
	border: solid #BBB 1px;
}

.sbPanel select:hover, .sbPanel input[type="text"]:hover {
	border-color: #599bb3;
}
*/

input[type="text"]:not(.sbEditableLabel), select {
	border: solid #BBB 1px;
}

select:hover, input[type="text"]:hover {
	border-color: #599bb3;
}

.sbPageTab.goog-tab {
  border: 1px solid #333;
  border-bottom-style: none;
  color: #333;
  padding: 4px 8px;
  z-index: 0;
}

.sbPageTabBar.goog-tab-bar-top .goog-tab-selected {
	top: 1px;
	z-index: 1;
}

/* Breed Editing */
.slnEditBreedBtn {
	position: relative;
	left: 3px;
	box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    background-color:transparent;
    height: 1em;
    line-height: 1em;
}

.wgt-editor-menuitem > .fa {
	margin-right: 10px;
}

.sln-dlg {
	position: absolute;
	font: menu;
	background-color: #f1f1f1;
	border: 1px solid black;
	border-radius: 4px;
	z-index: 2001;
	padding-bottom: 4px;
}

.sln-center-port {
	position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.sln-dlg-content, .sln-dlg-titlebar, .sln-toolbar{
	padding: 4px 8px;
	height: auto;
	width: auto;
	overflow: hidden;
}

.sln-dlg-titlebar {
	background-color: dimGrey;
	color: white;
    cursor: move;
	border-radius: inherit;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom: black;
    border-bottom-width: 2px;}

.sln-dlg-title {
	font-weight: bold;
	font-size: 18px;
}

.sln-dlg td, .sln-dlg th {
	padding: 2px;
	cursor: default;
}

.sln-dlg td:first-child {
	padding-left: 0px;
}

.sln-dlg td:last-child {
	padding-right: 0px;
}

.sln-toolbar-item {
	float: right;
	margin-left: 10px;
}

.sln-coverup {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0.2;
	background-color: black;
	z-index: 2000;
}

.sln-blur-filter {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}
.sln-color-preview {
	padding: 3px;
	text-align: center;
	border: 1px solid black;
    cursor: default;
} 

#slnAlertMessage {
	position: fixed;
	text-align: center;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	z-index: 2001;
}

.ui-dialog {
	z-index: 2002 !important;
}