ul.projList {
	margin: 0px;
	list-style-type: none;
}
li.projects {
	padding-top: 3px;
	padding-bottom: 3px;
}
li.projects:hover {
	color: #999999;
	cursor: pointer;
}
li.projects.view {
	background-color: rgb(35, 166, 232);
	background-image: linear-gradient(rgb(0, 136, 204), rgb(0, 119, 179));
	color: #ffffff;
	cursor: default;
}
.heading{
	padding-bottom:24px; 
	background: white; 
	z-index: 10; 
	width:100%; 
	padding-top: 20px; 
	margin-top:40px; 
	position:fixed
}
.diversion{
	height:92px;
}
.wellholder{
	display: inline-block;
	vertical-align: top; 
	height:auto; width:45%; 
	position:fixed
}
#titleText{
	font-size: 28px; 
	font-weight: 600; 
	margin-bottom: 5px
}
#subSpan{
	font-size: 16px;
}
#submitList{
	display: inline-block; 
	width:45%; 
	margin-right: 20px; 
	font-size: 16px; 
	height: auto
}
#ontime{
	font-size: 20px; 
	line-height: 26px
}
#late{
	font-size: 18px; 
	line-height: 24px
}
#projInfo{
	overflow: auto; 
	width:100%
}
#projIntro{
	font-size: 20px; 
	line-height: 26px
}
#viewInfo{
	height:auto; 
	width: auto
}
