/**************************
* Widget Workspace Styling
*/
.wgt-space {
	position: relative !important;
	width: inherit;
	height: inherit;
	padding: 1px;
	position: absolute;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
}

#wgtSpaceToolbar {
	width: 100%;
	height: auto;
	border-bottom: 1px solid white;
	background-color: white;
	z-index: 1000;
	position: absolute;
	font-size: 14px;
	vertical-align:bottom;
	padding-bottom: 2px;
}

#wgtSpaceToolbar  > * {
	margin-left: 8px;
	vertical-align: middle;
	vertical-align: -webkit-baseline-middle;
}

.wgt-hidden {
	display: none;
}

.wgt-hidden.wgt-el-editable {
	display: block;
}

.wgt-hidden.wgt-el-editable .wgt-el-cover {
	opacity: 0.2;
	background: repeating-linear-gradient(
	  45deg,
	  transparent,
	  transparent 3px,
	  #000000 1px,
	  #000000 4px
	);
}

.wgt-btnpanel {
	height: auto;
	text-align: center;
	padding: 5px;
	margin-top: 2px;
}

.sln-btn {
	box-shadow: 1px 1px 1px 0px black;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	-webkit-user-select: none;
	user-select: none;
}

.sln-btn:active {
	position: relative;
	top: 1px;
	left: 1px;
	box-shadow: 0px 0px 0px 0px black;
}

.sln-btn:hover {
	-webkit-filter: contrast(150%);
	filter: contrast(150%);
}

/**************************
* Widget Styling
*/
.wgt-el {
	box-sizing: border-box;
	position: absolute;
	min-width: 80px;
	min-height: 28px;
	overflow: hidden;
	font-family: 'Arial';
	font-size: 12px;
}

.wgt-el-frame {
	padding: 5px;
	display: block;
	box-sizing: border-box;
	overflow: hidden;
	height: 100%;
}

.wgt-el-cover {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	cursor: move;
}

.wgt-el-inner {
	height: 100%;
}

.wgt-el-focused > .wgt-el-frame {
	border: 1px dashed white;
	padding: 4px;
}

.wgt-el-editable .wgt-el-cover {
	display: block;
}

.wgt-el-editable .wgt-el-inner {
	opacity: 0.8;
}

/* JQuery Overrides */

.wgt-el .ui-resizable-handle {
	z-index: auto !important;
}

.wgt-el .ui-icon-gripsmall-diagonal-se {
	right: 3px;
	bottom: 3px;
	width: 18px;
	height: 18px;
	background-position: -80px -224px;
}

.wgt-el .ui-resizable-e,  .wgt-el .ui-resizable-w{
	right: 0px;
	width: 10px;
}

.wgt-el .ui-resizable-s {
	bottom: 2px;
}

/**
* LabelWidget Styling 
*/

.wgt-lbl,.wgt-databox,.wgt-slider {
	background: Gainsboro;
	color: black;
	overflow: hidden;
	border: black solid 1px;
	border-radius: 2px;
	box-sizing: border-box;
	height: 100%;
}

.wgt-lbl,.wgt-databox,.wgt-slider {
	padding: 3px;
}

.wgt-slider .wgt-title, .wgt-databox .wgt-title{
	font-weight: bold;
}

/* 
* PushButtonWidget Styling 
*/

.wgt-btn,.wgt-togglebtn {
	height: 100%;
	background: #4857ff;
	color: WhiteSmoke;
	box-sizing: border-box;
	padding: 2px 8px;
	min-width: 40px;
	overflow: hidden;
	border-radius: 4px;
}

/*
* ToggleButton Widget Styling 
*/
.wgt-center-vertical {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.wgt-center-horizontal {
	display: inline-block;
	width: auto;
	margin: auto;
}

.wgt-center-horizontal > * {
	display: inline-block;
}

/* center the element in the middle of its parent.  Parent must be relative (or absolute?)?*/
.wgt-center-both {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.wgt-icon-power {
	margin-right: 4px;
	color: #202020;
	vertical-align: text-bottom;
}

/*
.wgt-toggled .wgt-togglebtn {
	color: white;
}
*/
.wgt-toggled .wgt-icon-power {
	color: #00FF00;
    text-shadow: 0px 0px 5px #00FF00;
}

/*
* DataBoxWidget Styling
*/

.wgt-text {
	width: 100%;
	margin-top: 1px;
}

/*
* TitleWidget Styling
*/
.wgt-title-holder {
	background: Gainsboro;
	font-weight: bold;
	border-bottom: 1px solid #1A1A1A;
	padding: 5px;
}

.wgt-body {
	padding: 5px;
	overflow: hidden;
}

.wgt-titled {
	background: white;
	border: 1px solid #1A1A1A;
}

/* 
* SliderWidget Styling 
*/
.wgt-slider-inner {
	vertical-align: middle;
	height: auto;
	width: auto;
	padding-right: 1em;
	padding-left: 1em;
	padding-top: .5em;
	padding-bottom: .5em;
	overflow-x:hidden;
}

.wgt-slider-holder {
	overflow: hidden;
	min-width: 100px;
}

.wgt-slider-inner .wgt-slider-handle {
	overflow: hidden;
	width: auto !important;
	height: auto !important;
	display: inline-block;
	font-size: 8px;
	padding: 2px 4px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background: none !important;
	background-color: #000 !important;
	border-radius: 4px;
}

.wgt-slider-lbl {
	width: auto;
	height: 1em;
	line-height: 1em;
	margin-top: .4em;
	padding:0;
	vertical-align: middle;
	cursor: default;
	user-select: none;
}

.wgt-el-left {
	float: left;
	text-align: left;
}

.wgt-el-right {
	float: right;
	text-align: right;
}

.wgt-slider .wgt-body {
	padding-left: 0px;
	padding-right: 0px;
}

/* Bootstrap overrides */
.wgt-slider .slider-selection {
	background: #BABABA;
}

.wgt-slider .slider {
	margin-top: .5em;
	display: block;	
}

.wgt-slider .slider.slider-horizontal {
	width: auto;
	min-width: 100px;
	margin-left: 30px;
	margin-right: 30px;
}

.wgt-slider .slider-handle {
	opacity: 0;
}

.wgt-slider .slider .tooltip.top {
	margin-top: -24px;
}

.wgt-slider .ui-slider-handle {
	z-index: inherit;
	top: -.4em;
}

/* 
* TableWidget Styling 
*/

.wgt-table-handson {
	overflow: hidden;
}

/* HandsOnTable Overrides */

.ht_clone_top,.ht_clone_left,.ht_clone_top_left_corner,.ht_clone_bottom_left_corner,.ht_clone_debug {
	z-index: 0 !important; 
}

/*
* Widget Editor Styling
*/

.wgt-editor {
	position: absolute;
	background-color: #f1f1f1;
	border: 1px solid black;
	border-radius: 4px;
	padding: 4px;
}

.wgt-editor table {
	border-collapse: collapse;
}

.wgt-editor td {
	padding: 3px;
}

.wgt-editor td label{
	margin: 0;
	font-weight: normal;
}

.wgt-editor td:first-child {
	text-align: right;
	font-weight: bold;
}

.wgt-series-row {
	padding: 2px 2px 2px 0px;
}

.wgt-series-row > * {
	vertical-align: middle;
	display: inline-block;
}

.wgt-series-row > div {
	margin-left: 5px;
}

.wgt-series-columns {
	margin-bottom: 5px;
}

.wgt-editor-btn {
	display: inline-block;
	position:relative;
	color: #696969;
	background: white;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	-webkit-user-select: none;
	user-select: none;
	box-shadow: 0px 0px 0px 1px #696969;
	-moz-box-shadow: 0px 0px 0px 1px #696969;
	-webkit-box-shadow: 0px 0px 0px 1px #696969;
	border:none;
	/* make the line-height and the height equal to center text vertically */
	height: 1.5em; 
	line-height:1.5em;
}

.wgt-editor-btn:hover {
	box-shadow: 0px 0px 0px 3px #E65F25;
	-moz-box-shadow: 0px 0px 0px 3px #E65F25;
	-webkit-box-shadow: 0px 0px 0px 3px #E65F25;
	color: #E65F25;
}

.wgt-editor-disabled {
	pointer-events: none;
}

.wgt-editor-disabled > .wgt-editor-btn {
	color: lightGrey;
	box-shadow: 0px 0px 0px 1px lightGrey;
	-moz-box-shadow: 0px 0px 0px 1px lightGrey;
	-webkit-box-shadow: 0px 0px 0px 1px lightGrey;
}

.wgt-editor-btn.wgt-editor-disabled {
	color: lightGrey;
	box-shadow: 0px 0px 0px 1px lightGrey;
	-moz-box-shadow: 0px 0px 0px 1px lightGrey;
	-webkit-box-shadow: 0px 0px 0px 1px lightGrey;
}

.wgt-editor-btn:active {
	position: relative;
	top: 1px;
	left: 1px;
}

.wgt-editor-roundbtn {
	width: 1.5em;
	height: 1.5em;
	border-radius: 1em;
}

.wgt-editor-smallbtn {
	font-size: 10px;	
}

.wgt-editor-bigbtn {
	font-size: 18px;	
}

.wgt-editor-rrectbtn {
	border-radius: .2em;
	padding: 0px 5px;
	color: black;
}

/* leave room for text in a rrectbtn */
.wgt-editor-btnlabel {
	margin-left: 5px;
}

.wgt-deletebtn {
	float: right;
	margin-top: 10px;
}

.wgt-closebtn {
	float: right;
}

.wgt-editor-btnicon {
	pointer-events: none;
}

.wgt-editor-select {
	display: inline-block;
	position: relative;
}

.wgt-editor-selectcaret {
	margin-left: 5px;
}

.wgt-editor-select ul {
	border-radius: 0px;
}

.wgt-editor-select li{
	background: white;
}

.wgt-editor-selectcollapsed .wgt-editor-select-options {
	display: none;
}

input[type="checkbox" i] {
    margin-right: 3px;
}


/*
* Chart Widget Styling
*/
.wgt-chartWidget {
	width: 200px;	
	height: 200px;	
}

.wgt-chart-holder {
	min-width: 50px;
	min-height: 50px;
	width: 320px;
	height: 240px;
}

.wgt-chart-holder div {
	z-index: 0 !important; 
}

.wgt-chart-legend {
	position: absolute;
	right: 0px;
	bottom: 0px;
	border: 1px solid black;
	background-color: white;
	padding: 2px;
	font-size: 10px;
	cursor:default;
	/*
	-webkit-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    
    -webkit-transform: scale(.5) translate(50%, 50%); 
    -ms-transform: scale(.5) translate(50%, 50%);
    -moz-transform: scale(.5) translate(50%, 50%);
    transform: scale(.5) translate(50%, 50%);*/
}
.wgt-chart-legend:hover
{
	/*
    -webkit-transform: scale(1) translate(0%, 0%);
    -ms-transform: scale(1) translate(0%, 0%);   
    -moz-transform: scale(1) translate(0%, 0%);
    transform: scale(1) translate(0%, 0%);*/
}

.wgt-chart-legend-color {
	width: 12px;
	height: 12px;
	display: inline-block;
}

.wgt-chart-legend table {
	border-collapse: collapse;
}

.wgt-chart-legend td {
	padding: 1px;
}

.wgt-chart-legend td:first-child {
	text-align: right;
	font-weight: bold;
}

#wgtDownloadBtn, #wgtViewmodeBtn {
	position: absolute;
	top: 9px;
}

#wgtViewmodeBtn {
	right: 35px;
}

#wgtViewmodeBtn:active {
	right: 33px;
}

#wgtDownloadBtn {
	right: 10px;
}

#wgtDownloadBtn:active {
	right: 8px;
	left: '';
}

#wgtDownloadBtn:active, #wgtViewmodeBtn:active {
	top: 11px;
	left: auto;
}

.wgt-tableview {
	display: none;
	border: 1px solid #CCC;
	width: 100%;
	font-weight: normal;
	border-collapse: collapse;
}

.wgt-tableview td {
	background-color: #FFF;
	color: #000;
	border: 1px solid #CCC;
	padding: 2px 2px;
}

.wgt-tableview th {
	background-color: #EEE;
	color: #222;
	border: 1px solid #CCC;
	padding: 2px 2px;
}

.wgt-tableview thead th{
	padding: 5px 2px;
}

/*
.wgt-tableview thead,
.wgt-tableview tbody {
	width: calc(100% - 16px); // assuming scrollbar width as 16px 
}*/

.wgt-tableview thead {
	display: table;
	table-layout: fixed;
	width: calc(100% - 16px); // assuming scrollbar width as 16px 
}

.wgt-tableview tbody {
	overflow-x: auto;
	overflow-y: scroll;
	height: 150px;
	display: block;
}

.wgt-tableview tr {
	width: 100%;
	text-align: left;
	display: table;
	table-layout: fixed;
}

.wgt-chart.wgt-tablemode .wgt-tableview {
	display: block;
}

.wgt-chart.wgt-tablemode .wgt-chart-holder {
	display: none;
}

.wgt-chart.wgt-tablemode .wgt-chart-legend {
	display: none;
}

/* dygraph overrides */
.dygraph-legend {
	right: 0px !important;
	left: 0px !important;
	text-align: center !important;
	font-size: 10px !important;
	background: transparent !important;
}

.dygraph-legend > span{
	background: white;
}

.dygraph-label,.dygraph-axis-label {
	user-select: none;
}
